.pages label{
    padding-right: .5em;
    font-weight: bold;
}

.pages div{
    padding-bottom: .5em;
}
.green{
    color:#000000 !important;
}

.ui .left{
    color:#313131 !important;
}
.language .text{
    color:#313131 !important;
}

.footer-text{
    color:#313131 !important;
}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
}

html {
    position: relative;
    min-height: 100%;
}

.flexcontent{
    display: inline;
}

h1{
    visibility: hidden;
}